{
  "extends": "airbnb",
  "rules": {
    "no-plusplus": "off",
    "no-param-reassign": ["error", { "props": false }],
    "prefer-template": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-console": "off",
    "dot-notation": "off",
    "max-len": "off",
    "no-bitwise": "off",
  },
  "env": {
    "browser": true
  }
}
